body {
  font-size: 20px;
}

h1,
p,
ul,
ol,
h2 {
  background-color: lightgray;
}

h1 {
  font-size: 2em;
  padding: 20px 50px; /* Vertical Horizontal */
  border: 1px solid black;
  margin: auto;
}

h2 {
  font-size: 1.5em;
  padding: 10px 10px 5px 20px; /* Top Right Bottom Left */
}

.button {
  width: 200px;
  background-color: lightblue;
  padding: 20px;
  border: 2px solid black;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  margin: auto;
}
